{% extends 'layout.html' %}
{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Address</th>
            <th scope="col" class="text-center">City</th>
            <th scope="col" class="text-center">Landlord</th>
            <th scope="col" class="text-center">Rent</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <th class="text-center">{{ room['id'] }}</th>
                <td class="text-center">{{ room['address'] }}</td>
                <td class="text-center">{{ room['city'] }}</td>
                <td class="text-center">{{ room['landlord'] }}</td>
                <td class="text-center">{{ room['rent'] }}</td>
                <td class="text-center">{{ room['status'] }}</td>
                <td class="text-center">
                    <a class="btn btn-danger" href="/delete/room/{{ room['id'] }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}