{% extends 'layout.html' %}
{% block body %}
    {% include 'error.html' %}
    {% if rooms %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Address</th>
                <th scope="col" class="text-center">City</th>
                <th scope="col" class="text-center">Landlord</th>
                <th scope="col" class="text-center">Rent</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <th class="text-center">{{ loop.index }}</th>
                    <td class="text-center">{{ room['address'] }}</td>
                    <td class="text-center">{{ room['city'] }}</td>
                    <td class="text-center">{{ room['landlord'] }}</td>
                    <td class="text-center">{{ room['rent'] }}</td>
                    <td class="text-center">
                        {% if room['status'] == 'booked' %}
                            <h5 class="text-info font-weight-bold">Pending approval</h5>
                        {% else %}
                            <h5 class="text-success font-weight-bold">Approved</h5>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="/booking/cancel/{{ room['id'] }}" class="btn btn-danger">Cancel booking</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}