<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="../static/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('protected') }}" class="nav-link">test</a>
                </li>
                <li class="nav-item">
                    <a href="/users" class="nav-link">All users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>